body {
    max-width: 1920px;
    max-height:1080px;
    width: 100%;
    margin: auto;
    background: url(/attest/img/backround-image1.jpg) no-repeat center ;
    background-size: 1920px 1580px;
    height: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    justify-content: space-around;
}

.menu-list {
    display: flex;
    list-style-type: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.menu-item:not(:last-child) {
    margin-right: 63px;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.main-za {
    margin: 0px 100px 60px 600px;
    font-size: 35px;
}

.main-text {
    margin: 10px 1000px 80px 100px;
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;
}

.main-img {
    border: 3px solid #fff;
    margin: -360px 100px 80px 1050px;
}

.quote {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 0;
    opacity: 0.7;
}

.main2-za {
    margin: 0px 100px 60px 680px;
    font-size: 35px;
}

.main2-text {
    margin: 10px 100px 80px 1000px;
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;   
}

.main2-img {
    border: 3px solid #fff;
    margin: -460px 100px 80px 150px;
}

.main3-za {
    margin: 0px 100px 30px 500px;
    font-size: 35px;
}

.main3-text {
    margin: 10px 100px 80px 100px;
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
}

.main4-za {
    text-align: center;
    margin: 0px 00px 30px 00px;
    font-size: 35px;
}

.main4-text {
    margin: 10px 100px 80px 100px;
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
}

.info {
    text-align: center;
    margin: 180px 0px 0px 0px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button-info {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 900px;
}